<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/diseño.css">

    <title>Trabajo</title>
</head>
<body>
    <nav>
        <ul>
            <li><a class="enlaceS" href="/"><section class="t2"> <p class="neon2">Menu</p> </section></a></li>
            <li><a class="enlaceS" href="/ej1"><section class="t2"> <p class="neon2">Calcular Área de un Triángulo</p> </section></a></li>
            <li><a class="enlaceS" href="/ej2"><section class="t2"> <p class="neon2">Convertir de grados Fahrenheit a Centígrados</p> </section></a></li>
            <li><a class="enlaceS" href="/ej3"><section class="t2"> <p class="neon2">Verficacion de calificaciones</p> </section></a></li>
            <li><a class="enlaceS" href="/ej4"><section class="t2"> <p class="neon2">Viaje</p> </section></a></li>
            <li><a class="enlaceS" href="/ej5"><section class="t2"> <p class="neon2">Tabla de multiplicar</p> </section></a></li>
        </ul>
    </nav> 
        {% block content %} 
        {% endblock %} 
    <footer>
        <p>CETis no. 155 "Josefa Ortiz de Domínguez"
            <br>
            Alumno: Jose Leonardo Olivares Aranda
            <br>
            Trabajo de python</p>
    </footer>
</body>
</html>